/*!
 * 
 * [Dojo](https://dojo.io/)
 * Copyright [JS Foundation](https://js.foundation/) & contributors
 * [New BSD license](https://github.com/dojo/meta/blob/master/LICENSE)
 * All rights reserved
 * 
 */
.app {
	background: purple;
}
.theme-m__root__3x1SG {
	background: green;
}
.app-m__root__YxttP {
	width: 100px;
	height: 100px;
	color: red;
}

/*# sourceMappingURL=data:application/json;charset=utf-8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIndlYnBhY2s6Ly8vLi9zcmMvbWFpbi5jc3MiLCJ3ZWJwYWNrOi8vLy4vZXh0ZXJuYWwvdGVzdC10aGVtZS90aGVtZS5tLmNzcyIsIndlYnBhY2s6Ly8vLi9zcmMvYXBwLm0uY3NzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiI7Ozs7Ozs7O0FBQUE7Q0FDQyxtQkFBbUI7Q0FDbkI7QUNGRDtDQUNDLGtCQUFrQjtDQUNsQjtBQ0ZEO0NBRUMsYUFBYTtDQUNiLGNBQWM7Q0FDZCxXQUFXO0NBQ1giLCJmaWxlIjoibWFpbi5jc3MiLCJzb3VyY2VzQ29udGVudCI6WyIuYXBwIHtcblx0YmFja2dyb3VuZDogcHVycGxlO1xufVxuXG5cblxuLy8gV0VCUEFDSyBGT09URVIgLy9cbi8vIC4vc3JjL21haW4uY3NzIiwiLnJvb3Qge1xuXHRiYWNrZ3JvdW5kOiBncmVlbjtcbn1cblxuXG5cbi8vIFdFQlBBQ0sgRk9PVEVSIC8vXG4vLyAuL2V4dGVybmFsL3Rlc3QtdGhlbWUvdGhlbWUubS5jc3MiLCIucm9vdCB7XG5cdGNvbXBvc2VzOiByb290IGZyb20gJy4uL2V4dGVybmFsL3Rlc3QtdGhlbWUvdGhlbWUubS5jc3MnO1xuXHR3aWR0aDogMTAwcHg7XG5cdGhlaWdodDogMTAwcHg7XG5cdGNvbG9yOiByZWQ7XG59XG5cblxuXG4vLyBXRUJQQUNLIEZPT1RFUiAvL1xuLy8gLi9zcmMvYXBwLm0uY3NzIl0sInNvdXJjZVJvb3QiOiIifQ==*/