@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600');

path {
	stroke: #FFF;
	fill-rule: evenodd;
}

.sunburst {
	width: 100%;
	height: 100%;
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.sunburst svg {
	position: absolute;
	top: 0px;
	left: 0px;
}

@media (max-width: 800px) {
	.sunburst svg {
		right: 0;
	}
}
