@import '../external/test-theme/variables.css';
@import './variables.css';
@import '~@dojo/themes/dojo/variables.css';

.root {
	composes: root from '../external/test-theme/theme.m.css';
	width: 240px;
	height: 100px;
	color: var(--foreground-color);
	background-color: color(black a(50%));
}

.app {
	border-color: var(--primary);
	outline-color: color(var(--secondary) a(50%));
}
